@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
  --font-sans: 'Lato', sans-serif;
  --color-primary: #3ECF4C;
  --color-secondary: #FFC107;
  --color-surface: #FFFDF3;
  --color-muted: #E5F9E6;
}